name: Release

on:
    workflow_run:
        workflows: [Tests]
        types:
            - completed

permissions:
    contents: write
    pull-requests: write
    id-token: write

jobs:
    release-please:
        runs-on: ubuntu-latest
        steps:
            - uses: google-github-actions/release-please-action@v3
              id: release
              with:
                  release-type: node
                  package-name: bysquare
                  pull-request-title-pattern: 'v${version}'

            - if: ${{ steps.release.outputs.release_created }}
              uses: actions/checkout@v3

            - if: ${{ steps.release.outputs.release_created }}
              uses: actions/setup-node@v3
              with:
                  node-version-file: '.nvmrc'
                  registry-url: 'https://registry.npmjs.org'

            - if: ${{ steps.release.outputs.release_created }}
              run: >
                  npm ci &&
                  npm run build &&
                  npm publish --provenance --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
